In [1]:
from ce_new import *

In [3]:
df = ensure_pd_df("/home/abhishek/projects/ce_new/data/input/micro_100_and_vermont_gage_cleaning.xlsx")
df.columns = df.columns.str.lower()
df.columns

Index(['mpn', 'brand', 'entity_id', 'l3_name', 'attribute_name',
       'attribute_value'],
      dtype='object')

In [4]:
unit_df = df_from_query("select units, display from hercules_db.ce_unit_mapping")

2025-06-24 17:27:57,776 - INFO - Creating database engine for source: raptor_catalog
2025-06-24 17:27:57,834 - INFO - Creating pandas DataFrame from query: select units, display from hercules_db.ce_unit_mapping, attempt 1

In [5]:
run_cleanup_pipeline(df, unit_df, "/home/abhishek/projects/ce_new/data/output")

2025-06-24 17:28:34,073 - INFO - Path /home/abhishek/projects/ce_new/data/output already exists, recreating...
2025-06-24 17:28:34,142 - INFO - Final columns list after cleanup: Index(['l3_name', 'attribute_name', 'attribute_value', 'data_type',
       'key_value', 'polarity1', 'value1', 'unit1', 'polarity2', 'value2',
       'unit2', 'display_value', 'mod_reason'],
      dtype='object')
2025-06-24 17:28:34,148 - INFO - Lower case and snake case column names...
2025-06-24 17:28:34,264 - INFO - Removing rp_ in values...
2025-06-24 17:28:34,471 - INFO - Starting clean_varchar_categorical on 131625 rows.
2025-06-24 17:28:34,780 - INFO - Finished clean_varchar_categorical: 76777 passed, 54848 remaining.
2025-06-24 17:28:34,961 - INFO - Starting clean_numerical_unit on 54848 rows.
2025-06-24 17:28:35,216 - INFO - 51212 rows matched regex; 3636 did not.
2025-06-24 17:28:35,774 - INFO - Final columns list after cleanup: Index(['l3_name', 'attribute_name', 'attribute_value', 'data_type',
       'key_value', 'polarity1', 'value1', 'unit1', 'polarity2', 'value2',
       'unit2', 'display_value', 'mod_reason'],
      dtype='object')
2025-06-24 17:28:35,783 - ERROR - Dataframe is Empty
2025-06-24 17:28:35,786 - INFO - Final columns list after cleanup: Index(['l3_name', 'attribute_name', 'attribute_value', 'data_type',
       'key_value', 'polarity1', 'value1', 'unit1', 'polarity2', 'value2',
       'unit2', 'display_value', 'mod_reason'],
      dtype='object')
2025-06-24 17:28:35,786 - INFO - Finished clean_numerical_unit: 51212 passed, 0 had errors, 3636 did not match.
2025-06-24 17:28:35,989 - INFO - Starting clean_numerical_unit on 860 rows.
2025-06-24 17:28:35,993 - INFO - 726 rows matched regex; 134 did not.
2025-06-24 17:28:36,004 - INFO - Final columns list after cleanup: Index(['l3_name', 'attribute_name', 'attribute_value', 'data_type',
       'key_value', 'polarity1', 'value1', 'unit1', 'polarity2', 'value2',
       'unit2', 'display_value', 'mod_reason'],
      dtype='object')
2025-06-24 17:28:36,004 - ERROR - Dataframe is Empty
2025-06-24 17:28:36,005 - INFO - Final columns list after cleanup: Index(['l3_name', 'attribute_name', 'attribute_value', 'data_type',
       'key_value', 'polarity1', 'value1', 'unit1', 'polarity2', 'value2',
       'unit2', 'display_value', 'mod_reason'],
      dtype='object')
2025-06-24 17:28:36,006 - INFO - Finished clean_numerical_unit: 726 passed, 0 had errors, 134 did not match.
2025-06-24 17:28:36,081 - INFO - Starting unit standardization.
2025-06-24 17:28:36,104 - INFO - Unit standardization complete: 363 valid, 0 invalid.
2025-06-24 17:28:36,105 - INFO - Starting unit standardization.
2025-06-24 17:28:36,132 - INFO - Unit standardization complete: 363 valid, 0 invalid.
2025-06-24 17:28:36,138 - INFO - Final columns list after cleanup: Index(['l3_name', 'attribute_name', 'attribute_value', 'data_type',
       'key_value', 'polarity1', 'value1', 'unit1', 'polarity2', 'value2',
       'unit2', 'display_value', 'mod_reason'],
      dtype='object')
2025-06-24 17:28:36,139 - ERROR - Dataframe is Empty
2025-06-24 17:28:36,140 - INFO - Final columns list after cleanup: Index(['l3_name', 'attribute_name', 'attribute_value', 'data_type',
       'key_value', 'polarity1', 'value1', 'unit1', 'polarity2', 'value2',
       'unit2', 'display_value', 'mod_reason'],
      dtype='object')